APP_NAME=Smart Notes API
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=True

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=55432
POSTGRES_DB=smart_notes
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql+asyncpg://postgres:postgres@127.0.0.1:5432/smart_notes